
  <ion-content>
  
    
  
      
  
   



  <h5 style="position:relative; left:30px; top:13px" > Materas </h5>
 

  <div> 
    <ion-card 
    *ngFor="let producto of matera"
    style="position:relative; top:20px">
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt={{producto.nombre}} src={{producto.imagengrupo}} />
            </ion-thumbnail>
            <ion-label>{{producto.nombre}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/tabs/tab1']" tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/tab2']" tab="tab2">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/tab3']" tab="tab3">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
