
<ion-content>

  <ion-fab (click)="onClick()" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>  
  </ion-fab>

  <ion-fab [routerLink]="['/tabs/tab1']" vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>  
  </ion-fab>

 
    <img src="../../assets/fotos/colection.jpeg">

  <div style="position:relative; top:15px" > 
    <img src="../../assets/fotos/Framecolection1.png">
    <img src="../../assets/fotos/Framecolection2.png">
    <img src="../../assets/fotos/Framecolection3.png">
    <img src="../../assets/fotos/Framecolection4.png">
    
  </div>
 
  <div>
    <form [formGroup]="form" (submit)="enviarData()" >
      <div for="commentArea" class="title-comment"> Comentar </div>
      <textarea class="text-comment" id="commentArea" rows="8"></textarea>
      <div>
        <button> Enviar </button>
      </div>
    </form>
  </div>
  


</ion-content>
