ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

div {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

#fabmodalsfav {
  
  position: relative;
  top: 80px;
  left: -285px;
}

#fabmodalscart {
  
  position: relative;
  top: 140px;
  left: -25px;
}


#imgmodals {
  
  position: relative;
  top: 17px;
  left: 35px;
}
