

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
  
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab (click)="onClick()" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    
    
    
  </ion-fab>
  
  <div style="position:relative; left:12px; top:20px ;">
    <img src="../../assets/fotos/tipografia.png"
    width="180"
    height="78">
  </div>
  
  <div style="position:relative; left:32px">
    <h5> New Arrivals </h5>
  </div>

  <div style="position:relative; left:0px"> 
    
    <img src="../../assets/fotos/Frame 1.png"
    width="45%"
    height="45%"
    
    >

    
    <img src="../../assets/fotos/Frame 2.png"
    width="45%"
    height="45%"
    >

    
    <img src="../../assets/fotos/Frame 3.png"
    width="45%"
    height="45%"
    >

    <img src="../../assets/fotos/Frame 4.png"
    width="45%"
    height="45%"
    >

    <img src="../../assets/fotos/Frame 5.png"
    width="45%"
    height="45%"
    >

    <img src="../../assets/fotos/Frame 8.png"
    width="45%"
    height="45%"
    >
    


 </div>

  <div style="position:relative; left:32px;">
    <h5> Baru Summer Collection </h5>
  </div>

    <div style="position:relative; left:20px; top:0px"> 
    
      <img [routerLink]="['/summercollection']" src="../../assets/fotos/image 19.png"
      width="90%"
      height="100%"
      >

    </div>
    
      
    
    
  
 



  <div style="position:relative; left:32px">
    <h5> Shop by Category </h5>
  </div>

  <div style="position:relative; left:5px;">
    <img [routerLink]="['/rinoneras']" src="../../assets/fotos/category1.png">
    <img [routerLink]="['/mochilas']" src="../../assets/fotos/category2.png">
    <img [routerLink]="['/bolsos']" src="../../assets/fotos/category3.png">

  </div>

  <div  style="position:relative; left:5px;" >
    <img [routerLink]="['/bandoleras']" src="../../assets/fotos/category4.png">
    <img [routerLink]="['/materas']" src="../../assets/fotos/category5.png">
    <img [routerLink]="['/billeteras']" src="../../assets/fotos/category6.png">
  </div>






  <div style="position:relative; left:32px">
    <h5> Best Sellers </h5>
  </div>

  
 

  <div style="position:relative; left:0px"> 
    
      <img src="../../assets/fotos/Frame 8.png"
      width="45%"
      height="45%"
      >

      
      <img src="../../assets/fotos/Frame 9.png"
      width="45%"
      height="45%"
      >
  
      
      <img src="../../assets/fotos/Frame 10.png"
      width="45%"
      height="45%"
      >

      <img src="../../assets/fotos/Frame 11.png"
      width="45%"
      height="45%"
      >
  
   </div>
  


  
  <div style="position:relative; left:32px">
    <h5> Last Drop from Baru Bags </h5>
  </div>
  
  <div style="position:relative; left:20px"> 
    
    <img src="../../assets/fotos/image 18.png"
    width="90%"
    height="100%"
    >

  </div>
  
  


 
</ion-content>
