<ion-app>
  <ion-menu side="end" contentId="main-content">
  
    <ion-content class="ion-padding">
    
    <div style="position:relative; top:220px">
      <h3 [routerLink]="['/rinoneras']"> Riñoneras </h3>
      
    </div>

    <div style="position:relative; top:240px">
      <h3 [routerLink]="['/mochilas']" > Mochilas </h3>
    </div>

    <div style="position:relative; top:260px">
      <h3 [routerLink]="['/bolsos']"> Bolsos </h3>
    </div>

    <div style="position:relative; top:280px">
      <h3  [routerLink]="['/bolsos']" > Bandoleras </h3>
    </div>

    <div style="position:relative; top:300px">
      <h3  [routerLink]="['/materas']" > Materas </h3>
    </div>

    <div style="position:relative; top:320px">
      <h3  [routerLink]="['/billeteras']" > Billeteras </h3>
    </div>
  
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Tap the button in the toolbar to open the menu.
    </ion-content>
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
