
<ion-content>


  <h5 style="position:relative; left:30px; top:13px" > Bandoleras </h5>
 
 
    <div> 
      <ion-card 
      *ngFor="let producto of bandolera"
      style="position:relative; top:20px">
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img id="cartimage" alt={{producto.nombre}} src={{producto.imagengrupo}} />
              </ion-thumbnail>
              <ion-label>{{producto.nombre}}
                &nbsp;&nbsp;&nbsp;&nbsp;${{producto.precio}}</ion-label>
              
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      
    </div>
  

  <h1> </h1>
  <h1> </h1>
  
  




</ion-content>





<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/tabs/tab1']" tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/tab2']" tab="tab2">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/tab3']" tab="tab3">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>
